<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<context:component-scan base-package="com.vp.spring" />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/com/vp/spring/demodatabase/db.properties
				</value>
			</list>
		</property>
	</bean>
	<bean id="datasource1"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/formation" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="datasource2" destroy-method="close"
		class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>

	<!-- Déclaration des DAO JDBC --> 
	<!--  <bean id="jdbcEmployeDao" class="com.objis.spring.dao.JdbcEmployeDao"> 
		<property name="dataSource" ref="datasource2" /> 
	</bean> <bean id="jdbcEmployeDaoSupport" class="com.objis.spring.dao.JdbcEmployeDaoSupport"> <property name="dataSource" 
		ref="datasource2" /> 
	</bean> -->
	
	<!-- Déclaration des Templates Jdbc -->

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="datasource1" />
	</bean>

	<bean id="namedParamJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="datasource2" />
	</bean>

	<bean id="simpleJdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
		<constructor-arg ref="datasource2" />
	</bean>
</beans>
